@import '../../styles/app';

.silly__invite-responses-widget{
	padding-bottom: 30px;
}

.profile_info{
	display: flex;
	padding: 25px 0;
	margin-top: -50px;
	justify-content: space-between;
}

.space-between {
	display: flex;
	justify-content: space-between;
}

.user-info_list{
	padding: 25px 25px 0 0;
	text-align: right;
}
.info_item {
	text-transform: capitalize;
}
